@model IEnumerable<dynamic>

    @{
    ViewData["Title"] = "Filtrar Reservas";
    }
    <head>
        <title>@ViewData["Title"]</title>
        <link href="~/css/Filtro/index.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    </head>

    <body>
        <h1>Procurar Reservas</h1>
        <hr>
        <div class="container">


            <div class="left-section">

                <form asp-controller="Filtro" asp-action="FiltrarPorData" method="get">
                    <label for="startDate" class="dark-label">Check-in:</label>
                    <input type="date" id="dataInicio" name="dataInicio">
                    <label for="endDate" class="dark-label">Check-out:</label>
                    <input type="date" id="dataFim" name="dataFim">
                    <button type="submit" class="btn btn-primary">Filtrar por Data <i
                            class="fas fa-search"></i></button>
                </form>

                <form asp-controller="Filtro" asp-action="FiltrarPorCliente" method="get">
                    <label for="clientName" class="dark-label">Nome do cliente:</label>
                    <input type="text" id="clientName" name="clienteName">
                    <button type="submit" class="btn btn-primary">Filtrar por cliente <i
                            class="fas fa-search"></i></button>
                </form>

                <form asp-controller="Filtro" asp-action="FiltrarPorFuncionario" method="get">
                    <label for="employeeName" class="dark-label">Nome do funcionário:</label>
                    <input type="text" id="employeeName" name="funcionarioName">
                    <button type="submit" class="btn btn-primary">Filtrar por funcionário <i
                            class="fas fa-search"></i></button>
                </form>
            </div>
            <div class="middle-section">
             <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID Reserva</th>
                            <th>Check-in</th>
                            <th>Check-out</th>
                            <th>Cliente</th>
                            <th>Funcionario</th>
                            <th>Total de Dias</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.CheckIn</td>
                            <td>@item.CheckOut</td>
                            <td>@(item.Cliente?.Nome)</td>
                            <td>@(item.Funcionario?.Nome)</td>
                            <td>@item.TotalDiasEstadia</td>
                        </tr>
                        }
                    </tbody>
                </table>

                <label class="dark-label">Ganho Total:<span style="font-weight: 900;"> @ViewBag.TotalGain €</span>
                </label>
                <div class="d-flex justify-content-center mb-3">
                    <a href="@Url.Action("ExportCsv", "Filtro" )" class="btn btn-primary">Exportar para CSV <i
                            class="fas fa-download"></i></a>
                </div>
                <div class="d-flex justify-content-center mb-3 align-items-center">
                    <form asp-controller="Filtro" asp-action="ExportToPdf" method="post">
                        <button type="submit" class="btn btn-primary">Exportar para PDF <i
                                class="fas fa-download"></i></button>
                    </form>
                </div>
                </div>
            </div>
            <hr class="my-4"/>
            <div class="right-section">
                <h2>Filtro Especifico</h2>
                <form asp-controller="Filtro" asp-action="FiltrarPorTipo" method="get">
                    <label for="filterType" class="dark-label">Filtrar por:</label>
                    <select id="filterType" name="tipoFiltro">
                        <option value="Funcionario">Funcionário</option>
                        <option value="Quarto">Quarto</option>
                    </select>
                    <br>
                    <div id="funcionarioFilter">
                        <label for="employeeName" class="dark-label">Nome do funcionário:</label>
                        <input type="text" id="employeeName" name="funcionarioName">
                    </div>
                    <div id="quartoFilter" style="display: none;">
                        <label for="roomType" class="dark-label">Tipo do quarto:</label>
                        <input type="text" id="roomType" name="tipoQuarto">
                    </div>
                    <br>
                    <label for="startDate" class="dark-label">Check-in:</label>
                    <input type="date" id="dataInicio" name="dataInicio">
                    <label for="endDate" class="dark-label">Check-out:</label>
                    <input type="date" id="dataFim" name="dataFim">
                    <br>
                    <button type="submit" class="btn btn-primary">Filtrar por tipo <i
                            class="fas fa-search"></i></button>
                </form>
            </div>


        </div>
        <hr class="my-4">
        <script src="~/js/filtro.js"></script>
       

    </body>


