@model IEnumerable<GestaoHotelJoao.Models.Registo>

    @{
    ViewData["Title"] = "Índice";
    }

    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link href="~/css/Registo/index.css" rel="stylesheet" />
    </head>
       <h1>Lista de Reservas</h1>


    <div class="d-flex justify-content-center mb-3">
        <a asp-action="Create" class="btn btn-primary">Criar Nova Reserva <i class="fas fa-plus"></i> </a>
    </div>
    <div class="container d-flex justify-content-center">
        <div class="row justify-content-center mb-3">
             <div class=" table-responsive-sm">

                <div class="table-container">
                    <table class="table  align-middle text-center table-responsive-fix">
                        <thead class="thead-dark ">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CheckIn)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CheckOut)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TotalDiasEstadia)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Cliente)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Funcionario)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Quarto)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CheckIn)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CheckOut)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalDiasEstadia)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cliente.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Funcionario.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quarto.TipoQuarto)
                                </td>
                                <td class="action-buttons">
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-default">Editar <i
                                            class="fas fa-edit"></i></a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-secondary">Apagar <i
                                            class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

<div class="d-flex justify-content-center mb-3">
    <a href="@Url.Action("ExportCsv", "Registo" )" class="btn btn-primary">Exportar para CSV <i
            class="fas fa-download"></i></a>
    <form asp-controller="Registo" asp-action="ExportToPdf" method="post">
        <button type="submit" class="btn btn-primary">Exportar para PDF<i class="fas fa-download"></i></button>
    </form>
</div>
 
