@model IEnumerable<GestaoHotelJoao.Models.User>

    @{
    ViewData["Title"] = "Index";
    }

    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link href="~/css/User/index.css" rel="stylesheet" />
    </head>

    <h1>Lista de Utilizadores</h1>

    <div class="d-flex justify-content-center mb-3">
        <a asp-action="Create" class="btn btn-primary">Adicionar um novo utilizador <i class="fas fa-plus"></i></a>
    </div>
    <hr />
    <div class="d-flex justify-content-center">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Username)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Senha)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Administrador)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Funcionario)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Senha)
                    </td>

<td>
                        @Html.DisplayFor(modelItem => item.Administrador)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Funcionario)
                    </td>

                        <td class="actions">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-default">Editar <i
                                class="fas fa-edit"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-secondary">Apagar <i
                                class="fas fa-trash"></i></a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <hr class="my-4">
    <div class="d-flex justify-content-center mb-3">
    <a asp-controller="AdminArea" asp-action="Index" class="btn btn-primary">Voltar <i class="fas fa-arrow-left"></i></a>
</div> 
