@model GestaoHotelJoao.Models.Registo

@{
    ViewData["Title"] = "Detalhes";
}

<style>
    .center-content {
        display: flex;
        justify-content: center;  
    }
</style>

<div class="center-content">
    <div class="col-md-6">
        <h1 class="text-center">Detalhes do Registo</h1>

        <dl class="row">
            <dt class="col-sm-3">Check-In:</dt>
            <dd class="col-sm-9">@Model.CheckIn.ToString("dd/MM/yyyy")</dd>

            <dt class="col-sm-3">Check-Out:</dt>
            <dd class="col-sm-9">@Model.CheckOut.ToString("dd/MM/yyyy")</dd>

            <dt class="col-sm-3">Quarto:</dt>
            <dd class="col-sm-9">@Model.Quarto.TipoQuarto</dd>

            <dt class="col-sm-3">Cliente:</dt>
            <dd class="col-sm-9">@Model.Cliente.Nome</dd>

            <dt class="col-sm-3">Funcionário:</dt>
            <dd class="col-sm-9">@Model.Funcionario.Nome</dd>

            <dt class="col-sm-3">Total de Dias de Estadia:</dt>
            <dd class="col-sm-9">@Model.TotalDiasEstadia</dd>
        </dl>

        <div class="form-group text-center">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
            <a asp-action="Index" class="btn btn-secondary">Voltar</a>
        </div>
    </div>
</div>
